.inner-content {
	.container-fluid {
		max-width:1500px;
	}
		.content {
			padding-bottom:60px;
			h1 {
				color:$brand-primary;
				text-transform: uppercase;
				margin-bottom:0;
				font-size:52px;
				@include max-width($screen-xs) {
					font-size:36px;
				}
			}
			h2 {
				font-style:italic;
				color:$brand-info;
				font-size:30px;
				margin-top: 0;
				margin-bottom: 25px;
				@include max-width($screen-xs) {
					font-size:25px;
				}
			}
			h3 {
				font-style:italic;
				color:$brand-primary;
				font-size:30px;

			}
			span.bold {
				font-weight:bold;
				font-style:italic;
				color:$brand-primary;
			}
			.callout-box {
				background:$brand-primary;
				color:#fff;
				text-align: center;
				font-size:30px;
				padding:30px 20px;
				margin:30px auto;
			}
			.list-callout-box {
				background:lighten($brand-success, 10%);
				padding:40px 30px;
				margin:20px auto;
				h3 {
					color:$brand-info;
					font-size:40px;
					padding-left:30px;
					@include max-width($screen-xs) {
						padding-left:0;
						font-size:34px;
					}
				}
				.title {
					font-weight:bold;
					font-style:italic;
					color:$brand-primary;
					font-size:26px;
				}
				ul {
					list-style-type:none;
					@include max-width($screen-xs) {
						padding-left:0;
					}
					li {
						border-bottom:solid 1px #D8D3C4; 
						padding:20px 0 0;
						color:$brand-primary;
						&:before {
							content:'\f19d';
							font-family:FontAwesome;
							margin-right:10px;
						}
					}
				}
			}
			ul {
				li {
					padding:10px 0; 
					a {
						color:$brand-info;
					}
				}
			}
			.quote {
				text-align: center;
				font-weight:bold;
				font-style:italic;
				color:$brand-primary;
			}
			.btn-info {
				margin:20px auto;
				display:block;
				transition:all 0.3s ease-in-out;
				border:none;
				&:hover {
					background:$brand-primary;
				}
				a {
					color:#fff;
					display:block;
					padding:20px;
					text-decoration:none;
				}
			}
			.cta-box {
				background:lighten($brand-success, 10%);
				border:10px solid $brand-success;
				color:$brand-primary;
				padding:30px;
				text-align: center;
				font-weight:bold;
				a {
					color:$brand-info;
					text-decoration:none;
					font-size:30px;
					font-style:italic;
					transition:all 0.3s ease-in-out;
					&:hover {
						color:$brand-primary;
					}
				}
			}
			&.contact {
				h2 {
					font-weight:600;
					font-size:44px;
					font-style:normal;
				}
				p {
					font-size:26px;
					span {
						font-weight:bold;
					}
				}
				a {
					text-decoration:none;
				}
				.about-us-box {
					background:$brand-primary;
					// padding:30px;
					border-radius:0.5em;
					box-shadow:0 0 0em 0.25em #00263A;
					border:0.25em solid $brand-success;
					a {
						color:#fff;
						text-decoration:none;
						display:block;
						transition:all 0.3s ease-in-out;
						padding:20px;
					}
					&:hover {
						.learning {
							background:#fff;
							a {
								color:$brand-primary;
							}
						}
					}
					.icon-container {
						background-image:url('../images/ribbon-bg.png');
						background-repeat:no-repeat;
						background-size:contain;
						background-position:center;
						padding:20px;
						text-align: center;
						.fa-user {
							font-size:50px;
							color:$brand-info;
						}
					}
					.learning {
						background:$brand-info;
						width:100%;
						text-align: center;
						color:#fff;
						display:block;
						padding:10px;
						margin:30px 0;
						transition:all 0.3s ease-in-out;
					}
				}
				.col-sm-6 {
					&:first-child {
						margin-top:30px;
						@include max-width($screen-sm) {
							margin-bottom:40px;
						}
						.container-fluid {
							max-width:800px;
						}
					}
					&:last-child {
						background-image:url('../images/contact-bg.jpg');
						background-size:cover;
						height:100%;
						min-height:500px;
						margin-bottom:-60px;
						padding-top:50px;
						@include max-width($screen-sm) {
							margin:0;
						}
						h2 {
							text-align: center;
							color:$brand-primary;
							text-transform: uppercase;
						}
						.contact-page-form {
							background:rgba($brand-primary, 0.9);
							padding:40px;
							.caldera-grid {
								.col-sm-12 {
									display:flex;
									flex-wrap:wrap;
									.form-group {
										flex:1 1 45%;
										margin:0 15px;
										.form-control {
											height:auto;
										}
										select {
											caret-color:#fff;
											appearance:menulist;
										}
										::placeholder {
											color:#fff;
										}
										&#fld_6722851_1-wrap {
											flex:1 1 100%;
										}
									}
								}
							}
							form {
								display:flex;
								flex-wrap:wrap;
							}
							.group {
								position:relative;
								flex:1 1 45%;
								margin:0 15px;
							}
							input, textarea, select {
								background:none;
								// border:none;
								box-shadow:none;
								caret-color:#fff;
								margin-top:10px;
								font-size:23px;
								color:#fff;
							}
							::placeholder {
								color:rgba(lighten($brand-primary, 30%), 0.7);	
							}
							span {
								content:'';
								width:100%;
								height:1px;
								left:0;
								border:1px solid rgba(255,255,255,0.4);
								border-radius:0.2em;
								transition:all 0.3s ease-in-out;
								transform-origin:top;
								top:90%;
								position:absolute;
								display:block;
								&.open {
									height:100%;
									top:0;
								}
							}
							.btn-info, .btn-default {
								background:$brand-info;
								margin:10px auto;
								display:block;
								padding:20px 30px;
								transition:all 0.3s ease-in-out;
								border:none;
								color:#fff;
								&:hover {
									background:$brand-primary;
									color:#fff;
								}
							}
						}
					}
				}
			}
	}
	&.contact-content {
		background:$brand-success;
	}
	&.blog-content {
		h1 {
			color:$brand-primary;
		}
		.content {
			padding-top:50px;
			&.archive {
				h1 {
					font-size:44px;
					text-transform: none;
					font-weight:600;
					margin-bottom:20px;
					margin-top:0;
				}
				.other-posts {
					margin-bottom: 0;
					a {
						color:$brand-info;
						text-decoration:none;
						font-size:26px;
						transition:all 0.3s ease-in-out;
						&:hover {
							color:$brand-primary;
						}
					}
				}
			}
		}
		.sidebar {
			padding-top:50px;
		}
		article {
			border:solid 1px #D3D3D3;
			padding:40px;
			display:flex;
			flex-flow:column wrap;
			margin-bottom:50px;
			&:nth-child(2n) {
				background:lighten($brand-success, 10%);
				.date {
					span {
						background:lighten($brand-success, 10%);
					}
				}
			}
			h2 {
				text-align: center;
				font-size:42px;
				a {
					text-decoration:none;
				}
			}
			.date {
				text-align: center;
				color:$brand-info;
				font-weight:600;
				font-size:34px;
				position:relative;
				span {
					background:#fff;
					position:relative;
					padding:0 40px;
				}
				&:before {
					content:'';
					display:block;
					height:1px;
					width:100%;
					background-color:#96999E;
					position:absolute;
					top:50%;
				}
			}
			.more {
				display:flex;
				justify-content:flex-end;
				.btn-info {
					margin:0;
					a {
						padding:10px;
					}
				}
			}
		}
	}
	&.post-content {
		.sidebar {
			padding:60px 15px;
		}
		.content {
			padding:60px 15px;
			h1 {
				font-size:44px;
				text-transform:none;
				margin-top:0;
				font-weight:600;
			}
			.other-posts {
				a {
					color:$brand-info;
					text-decoration:none;
					font-size:26px;
					transition:all 0.3s ease-in-out;
					&:hover {
						color:$brand-primary;
					}
				}
			}
			.date-time {
				color:#999;
			}
		}
	}
	&.testimonial-content {
		h1 {
			font-size:48px;
			@include max-width($screen-sm) {
				text-align: center;
				font-size:42px;
			}
		}
		.testimonial-box {
			display:flex;
			margin:30px auto;
			position:relative;
			.review {
				padding:40px;
				flex:1 1 80%;
				@include max-width(900px) {
					flex:1 1 100%;
				}
				h2 {
					color:#fff;
					font-size:44px;
					font-style:normal;
					@include max-width($screen-md) {
						font-size:38px;
					}
				}
			}
			.info {
				flex:1 1 20%;
				background:lighten($brand-success, 10%);
				position:relative;
				@include max-width(900px) {
					display:none;
				}
				&:after {
					content:'\f10e';
					font-family:FontAwesome;
					color:rgba(255,255,255,0.8);
					font-size:104px;
					position:absolute;
					@include center();
				}
			}
			&:nth-child(n) {
				color:#fff;
				.review {
					background:$brand-primary;
					order:2;
					&:before {
						content:'';
						position:absolute;
						top:35%;
						left:16%;
						width:0;
						height:0;
						border-top:30px solid transparent;
						border-right:60px solid $brand-primary;
						border-bottom:30px solid transparent;
						z-index:1;
						@include max-width(900px) {
							display:none;
						}
					}
				}
				.info {
					order:1;
				}
			}
			&:nth-child(2n) {
				.review {
					background:#53565A;
					order:1;
					&:before {
						border:none;
					}
					&:after {
						content:'';
						position:absolute;
						top:35%;
						right:16.5%;
						width:0;
						height:0;
						border-top:30px solid transparent;
						border-left:60px solid #53565A;
						border-bottom:30px solid transparent;
						z-index:1;
						@include max-width(900px) {
							display:none;
						}
					}
				}
				.info {
					order:2;
				}
			}
		}
	}
	&.locations-content {
		@include min-width($screen-sm) {
			padding-top:0;
		}
		h1 {
			text-align: center;
			color:$brand-primary;
			text-transform: uppercase;
			font-weight:600;
			span {
				color:$brand-info;
				text-transform:none;
				position:relative;
				font-weight:400;
				font-style:italic;
				&:before {
					content:'';
					position:absolute;
					height:1px;
					border:1px solid $brand-info;
					width:50%;
					top:50%;
					left:-70%;
				}
				&:after {
					content:'';
					position:absolute;
					height:1px;
					border:1px solid $brand-info;
					width:50%;
					top:50%;
					right:-70%;
				}
			}
		}
		.search-box {
			display:flex;
			justify-content:space-around;
			background:lighten($brand-success, 10%);
			padding:20px;
			@include max-width($screen-sm) {
				flex-wrap:wrap;
			}
			.state, .or, .location {
				display:flex;
			}
			.state, .location {
				flex:1 1 30%;
				@include max-width($screen-sm) {
					flex:1 1 100%;
					margin:10px 0;
				}
				@include max-width($screen-xs) {
					flex-wrap:wrap;
				}
			}
			.state {
				display:flex;
				align-items:center;
				justify-content:center;
				select, p {
					@include max-width($screen-xs) {
						flex:1 1 100%;
					}
				}
				select {
					flex:1 1 75%;
				}
				p {
					flex:1 1 25%;
					margin-bottom: 0;
				}
			}
			.or {
				flex:1 1 20%;
				display:flex;
				align-items:center;
				justify-content:center;
				@include max-width($screen-sm) {
					display:none;
				}
				p {
					border-left:solid 1px #dbdbdb;
					border-right:solid 1px #dbdbdb;
					padding:0 20px;
					color:$brand-primary;
					font-size:32px;
				}
			}
			.location {
				p, .search {
					@include max-width($screen-xs) {
						flex:1 1 100%;
					}
				}
				p {
					margin-right:20px;
					display:flex;
					align-items:center;
					margin-bottom: 0;
					@include max-width($screen-sm) {
						flex:1 1 23%;
					}
				}
				.search {
					display:flex;
					align-items:center;
					@include max-width($screen-sm) {
						flex:1 1 77%;
					}
					.btn-info {
						padding:5px 20px;
						border-radius:0 10px 10px 0;
						margin-left:-5px;
					}
				}
			}
		}
		.locations-list {
			.list {
				display:flex;
				flex-wrap:wrap;
				h2 {
					flex:1 1 100%;
					margin-bottom: 0;
					color:$brand-info;
					// a {
					// 	color:$brand-info;
					// 	text-decoration:none;
					// 	transition:all 0.3s ease-in-out;
					// 	&:hover {
					// 		color:$brand-primary;
					// 	}
					// }
				}
				.individual-location {
					flex:1 1 45%;
					margin:20px;
					border:solid 1px #AAA9A8;
					padding:20px 40px;
					@include min-width($screen-sm) {
						max-width:45%;
					}
					.title {
						color:$brand-primary;
						font-weight:600;
						font-size:40px;
					}
					.location {
						font-size:30px;
						i {
							color:$brand-info;
							font-size:34px;
						}
					}
					hr {
						border-top:1px solid #AAA9A8;
					}
					.info {
						display:flex;
						.phone, .website {
							flex:1 1 45%;
							font-size:30px;
							margin-top:15px;
							i {
								font-size:34px;
								color:$brand-info;
							}
							a {
								color:$brand-info;
								text-decoration:none;
								font-weight:600;
								transition:all 0.3s ease-in-out;
								&:hover {
									color:$brand-primary;
								}
							}
						}
					}
					.areas {
						.subtitle {
							font-weight:700;
							font-size:32px;
						}
					}
				}
				&.hide {
					display:none;
				}
			}
		}
	}
}