.site-footer {
	padding:60px 0;
	background:$brand-primary;
	color:#fff;
	a {
		color:#fff;
		text-decoration:none;
	}
	.container-fluid {
		max-width:1700px;
	}
	.flex {
		display:flex;
		@include max-width(1050px) {
			flex-wrap:wrap;
		}
		.links {
			flex:1 1 38%;
			margin:0 85px 0 15px;
			margin-top:15px;
			@include max-width($screen-sm) {
				flex:1 1 100%;
			}
			ul {
				list-style-type:none;
				display:flex;
				flex-direction:column;
				height:100%;
				justify-content:space-around;
				a {
					color:$brand-success;
					transition:all 0.3s ease-in-out;
					&:hover {
						color:$brand-info;
					}
					li {
						text-transform: uppercase;
						border-bottom:solid 1px rgba(255,255,255,0.4);
						font-size:26px;
					}
				}
			}
		}
		.contact, .map {
			flex:1 1 28%;
			margin:0 15px;
			@include max-width($screen-sm) {
				flex:1 1 100%;
				margin:20px auto;
			}
		}
		.contact {
			text-align: center;
			.copy {
				color:$brand-success;
			}
			.phone {
				font-size:42px;
			}
			.social-icons {
				display:flex;
				align-items:center;
				margin-top:10px;
				justify-content:center;
				a {
					color:#fff;
					background:$brand-info;
					margin:0 12px;
					transform:rotate(-45deg);
					transition:all 0.3s ease-in-out;
					height:40px;
					width:40px;
					&:hover {
						transform:rotate(-90deg);
						i {
							transform:rotate(90deg);
						}
					}
					&:last-child {
						padding:10px 17px;
					}
					i {
						font-size:22px;
						transform:rotate(45deg);
						transition:all 0.3s ease-in-out;
						height:100%;
						display:flex;
						align-items:center;
						justify-content:center;
					}
				}
			}
		}
		.map {
			.directions {
				margin-top:50px;
				background:darken($brand-primary, 5%);
				padding:30px 40px;
				text-align: center;
				h3 {
					color:$brand-info;
					text-transform: uppercase;
					margin-bottom: 0;
					margin-top: 0;
				}
				span {
					color:$brand-success;
					font-size:25px;
				}
				a {
					font-style:italic;
				}
			}
			img {
				margin:15px auto;
				display:block;
			}
		}
	}
}