.navbar-default {
	border-radius: 0;
	border-color: $gray-lighter;
	margin-bottom: 0;
	background:$brand-primary;
	border-bottom:4px solid $brand-info;
	.container-fluid {
		display:flex;
		padding:10px 0;
		max-width:1400px;
		justify-content:space-between;
		@include max-width(1750px) {
			max-width:1170px;
			padding-left:70px;
		}
		@include max-width(1400px) {
			padding-left:150px;
		}
		@include max-width(1250px) {
			padding-left:200px;
		}
		@include max-width(900px) {
			max-width:none;
		}
		@include max-width(700px) {
			padding-bottom:0;
		}
		.social-icons {
			display:flex;
			align-items:center;
			@include max-width(1400px) {
				display:none;
			}
			a {
				color:#fff;
				background:$brand-info;
				margin:0 12px;
				transform:rotate(-45deg);
				transition:all 0.3s ease-in-out;
				height:40px;
				width:40px;
				text-decoration: none;
				@include max-width(1600px) {
					padding:5px 12px;
					margin:0 5px;
				}
				&:hover {
					transform:rotate(-90deg);
					i {
						transform:rotate(90deg);
					}
				}
				i {
					font-size:22px;
					transform:rotate(45deg);
					transition:all 0.3s ease-in-out;
					height:100%;
					display:flex;
					align-items:center;
					justify-content:center;
					@include max-width(1600px) {
						font-size:16px;
					}
				}
			}
		}
		.phone {
			border-left:1px solid lighten($brand-primary, 15%);
			padding-left:20px;
			display:flex;
			align-items:center;
			@include max-width(700px) {
				display:none;
			}
			a {
				color:#fff;
				font-size:34px;
				text-decoration:none;
			}
		}
	}

	.navbar-collapse {
		padding: 0;
	}

	.navbar-nav {
		list-style-type:none;
		display:flex;
		@include max-width(900px) {
			display:none;
		}

		> li {
			color:#fff;
			display:flex;
			align-items:center;
			text-align: center;
			.dropdown-menu {
				background:$brand-primary;
				a {
					color:$brand-info !important;
					font-size:16px;
				}
			}
			&:hover {
				a {
					border-bottom:3px solid $brand-info;
					color:#fff !important;
				}
			}

			> a {
				text-transform: uppercase;
				font-weight: 400;
				color:lighten($brand-success, 10%) !important;
				background:none !important;
				font-size:16px;
				transition:all 0.4s ease-in-out;
				border-bottom:3px solid $brand-primary;
				@include max-width(1095px) {
					line-height:1;
				}
				@include max-width(1500px) {
					font-size:15px;
					padding:5px 10px;
				}
			}
		}
	}
}

#menu-item-70 {
	background:#fff;
}

.dropdown-menu {
	padding: 0;
	// background: #fff;
	// margin-top:15px !important;

	li {
		transition:all 0.3s ease-in-out;
		&:hover {
			a {
				background:$brand-info;
			}
		}

		a {
			text-transform: uppercase;
			padding-top: 6px;
			padding-bottom: 6px;
			transition:all 0.3s ease-in-out;
		}
		&.active {
			&:hover {
				a {
					background:$brand-info;
				}
			}
		}
	}
}


.mobile-buttons {
	display:none;
	@include max-width($grid-float-breakpoint-max) {
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	@include max-width(700px) {
		width:100%;
	}
	@include max-width(500px) {
		margin-top:20px;
	}
	.mobile-phone {
		width:100%;
		justify-content:flex-end;
		color:#fff;
		font-size:28px;
		display:none;
		@include max-width(700px) {
			display:flex;
		}
		@include max-width(500px) {
			margin-top:-35px;
		}
	}
	.mobile-toggle {
		align-items:center;
		@include max-width(500px) {
			flex-direction:column;
			align-items:flex-end;
		}
		.fa-bars {
			text-align:right;
			@include min-width(700px) {
				width:100%;
			}
		}
	}
	.mobile-toggle, .call, .email {
		i {
			display:flex;
			align-items:center;
			margin-right: 5px;
		}

		@include max-width($grid-float-breakpoint-max) {
			display: flex;
			// flex-direction:column;
			// flex-flow:column wrap;
			flex:1 1 15%;
			justify-content:center;
			margin-left: 30px;
			font-size: 24px;
			background: transparent;
			border: none;
			line-height: 46px;
			vertical-align: middle;
			outline: none;
			color:#fff;
			width:100%;
			text-align:left;
		}
		@include max-width(730px) {
			margin-left:20px;
		}
		@include max-width(425px) {
			margin-left:5px;
		}
		@include max-width(400px) {
			margin-left:0px;
			// margin-top:20px;
			padding:0;
			flex:1 1 5%;
		}

		&.mobile-ctc {
			text-decoration:none;
			color:#fff;
			display:flex;
			i {
				text-align:right;
			}	
			@include max-width(500px) {
				flex-direction:column;
				align-items:flex-end;
			}
		}
	}
}

// These are the styles for the off canvas mobile nav
// I commented where to edit the background color, leave the rest as-is ====
// =========================================================================
*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.st-content {
	background: #fff;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;
	overflow: hidden;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.4);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: $brand-info; // background of off-canvas sidebar
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */
// Feel free to edit as much as you'd like in this section ===========
// ===================================================================

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: lighten($brand-primary, 20%);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}

.st-menu {

	.dropdown.open {

		> a {
			background: rgba(#000,.5);
		}
	}

	.dropdown-menu {
		> li {

			> a {
				padding-top: 10px !important;
				padding-bottom: 10px !important;
				background: rgba(#000,.5);
			}
		}		
	}
}

// DO NOT EDIT the following =================================
// ===========================================================

/* Individual effects */

/* Effect 4: Slide along */
.st-effect-4.st-menu-open .st-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.st-effect-4.st-menu {
	z-index: 1;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index:999;
}

.st-effect-4.st-menu::after {
	display: none;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: 300px;
}
